{% extends "imageboard/base.html" %}
{% load thumbnail %}

{% block title %}{{ post.title }}{% endblock %}
{% block body %}
    <div class="content">
        <div class="content-post">
            <img class="post-image" src="{{ post.img.url }}" alt="{{ post.title }}">
            <h1>{{ post.title }}</h1>
            <p>{{ post.text }}</p>
            <p class="author">Posteado por {{ post.author }} | {{ post.date }}</p>
        </div>
        <div class="content-comments">
            {% if request.user.is_authenticated %}
                <form method="POST" action="" enctype="multipart/form-data" class="comment-form">
                    <h1>Posteá un comentario</h1>
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <div>
                        <button type="submit" class="button">Postear</button>
                    </div>
                </form>
            {% endif %}
            {% for comment in comments %}
                <div class="content-comment">
                    <div class="comment-info">
                        <p>{{ comment.author }}</p>
                        <div>
                            <p> {{ comment.date }} </p>
                            {% if request.user == comment.author %}
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_comment_id" value="{{ comment.id }}">
                                    <button class="comment-del" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                      </svg></button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                        <div class="comment-text">
                            <p>{{ comment.text }}</p>
                        </div>
                </div>
            {% empty %}
                <h1>Todavía no hay comentarios</h1>
            {% endfor %}
        </div>
    </div>
{% endblock %}